scrapy == 2.4.0
scrapy-splash == 0.7.2
seaborn == 0.11.0
selenium == 3.141.0
watchdog == 1.0.1
papermill == 2.2.2
pandas == 2.11
numpy == 1.19.4
matplotlib == 3.3.2
jupyterlab == 2.2.6
jupyterlab_widgets == 1.0.0
nbconvert == 6.0.7
pymongo == 3.11.0
pyodbc == 4.0.30
